<section class="ShowMenuItemPage">
  <table class="ShowMenuItemPage-table">
    <tbody>
      <% @menu_items.each do |menu_item| %>
        <tr style="text-align: center">
          <td class="MenuItem-name"> <%= menu_item.menu_item_name %> </td>
          <td class="MenuItem-price">₹ <%= menu_item.menu_item_price %> </td>
          <% if @current_user.is_owner(@current_user.id) %>
            <td>
              <p class="MenuItems-options">[<%= link_to "Edit", edit_menu_item_path(menu_item, :current_menu_id => @current_menu_id) %>]</p>
            </td>
            <td>
              <p class="MenuItems-options">[<%= link_to "Remove", menu_item_path(menu_item, :current_menu_id => @current_menu_id), method: :delete, data: { confirm: "Are you sure?" } %>]</p>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
