<section class="EditMenuItemPage">
  <h1 class="EditMenuItemPage-title">Editing Menu Item</h1>

  <%= render "form", menu_item: @menu_item %>

  <p class="MenuItemPage-link">
    <%= link_to "Show", @menu_item %> | <%= link_to "Back", menu_items_path %>
  </p>
</section>
