<section>

    <h3 id="notice"><%= params[:notice] %></h3>

    <% if @current_user.is_owner(@current_user.id) %>
      <div>
        <h3> Select Menu </h3>
        <%= render partial: "select_menu",
                   locals: {
                     menu_id: @current_menu_id,
                     menus: @menus,
                   } %>
      </div>
    <% end %>

    <h1>Menu Items</h1>

    <div>
      <% if @current_user.is_owner(@current_user.id) %>
        <%= link_to "+ Add Menu Item",
                    new_menu_item_path(:current_menu_id => @current_menu_id) %>
      <% end %>
    </div>

    <%= render partial: "display_menu",
               locals: {
                 menu_items: @menu_items,
               } %>

</section>
