<section class="MenuItemPage">

    <h3 class="MenuItemPage-notice"><%= params[:notice] %></h3>

    <div class="MenuItemPage-selectMenus">
      <% if @current_user.is_owner(@current_user.id) %>
          <p class="MenuItemPage-title1">Here are the menus we have:</p>
          <%= render partial: "select_menu",
                     locals: {
                       menu_id: @current_menu_id,
                       menus: @menus,
                     } %>
      <% end %>
    </div>

    <div class="MenuItemPage-header">
      <h1 class="MenuItemPage-title2">Menu Items</h1>
      <% if @current_user.is_owner(@current_user.id) %>
      <%= link_to "+ Add Menu Item",
                  new_menu_item_path(:current_menu_id => @current_menu_id) %>
      <% end %>
    </div>


    <%= render partial: "display_menu",
               locals: {
                 menu_items: @menu_items,
               } %>

</section>
