<section class="EditOrder">
  <h1 class="NewOrderPage-title">Editing Order</h1>

  <%= render "form", order: @order %>

  <p class="EditOrder-link">
    <%= link_to "Show", @order %> | <%= link_to "Back", orders_path %>
  </p>
</section>
