<section>
    <h1>New Order</h1>


    <%= render partial: "display_menu",
               locals: {
                 menu_items: @menu_items,
               } %>

    <div>
        <%= form_with url: viewcart_path do |form| %>
            <div>
                <%= submit_tag "View cart" %>
            </div>
        <% end %>
    </div>
</section>
