/* styling for new.html.erb*/

.Clerks, .AddClerk {
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.Clerks-title, .AddClerk-title {
  font-size: 32px;
  color: rgb(216, 98, 1);
  letter-spacing: -1px;
  text-align: center;
  padding-bottom: 20px;
}

.ClerkForm {
  background-color: white;
  display: flex;
  margin: 50px auto;
  max-width: 450px;
  border: 1px solid antiquewhite;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.ClerkForm-field {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.ClerkForm-label {
  font-size: 25px;
  color: rgb(104, 102, 101);
}

.ClerkForm-input1 {
  margin-left: 50px;
  height: 25px;
  border: 1px solid rgb(151, 150, 149);
  border-radius: 4px;
  background-color: white;
}

.ClerkForm-input2 {
  margin-left: 50px;
  height: 25px;
  border: 1px solid rgb(151, 150, 149);
  border-radius: 4px;
  background-color: white;
}

.ClerkForm-input3 {
  margin-left: 108px;
  height: 25px;
  border: 1px solid rgb(151, 150, 149);
  border-radius: 4px;
  background-color: white;
}

.ClerkForm-input4 {
  margin-left: 61px;
  height: 25px;
  border: 1px solid rgb(151, 150, 149);
  border-radius: 4px;
  background-color: white;
}

.ClerkForm-submitButton {
  margin-left: 30%;
  margin-top: 30px;
  margin-bottom: 50px;
  height: 50px;
  width: 200px;
  border: 1px solid rgb(216, 98, 1);
  border-radius: 10px;
  background-image: linear-gradient(rgb(216, 98, 1),rgb(212, 129, 46));
  color: white;
  font-size: 25px;
  text-align: center;
}

/* styling for index.html.erb */

.Clerks-notice {
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  color: rgb(194, 110, 15);
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 30px;
}

.Clerks-addClerkLink {
  margin-top: 30px;
  margin-bottom: 100px;
  font-style: italic;
  font-size: 20px;
  color: rgb(77, 76, 75);
  padding-bottom: 50px;
  text-align: center;
}

.Clerks-table {
  width: 100%;
  border: 1px solid antiquewhite;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.Clerks-value1 {
  font-size: 30px;
  letter-spacing: -1px;
  color: rgb(216, 98, 1);
  padding: 30px;
}

.Clerks-value2 {
  font-size: 25px;
  font-style: italic;
  letter-spacing: -1px;
  color: rgb(77, 76, 75);
  padding: 30px;
}

.Clerks-link {
  font-style: italic;
  font-size: 20px;
  color: rgb(77, 76, 75);
  padding: 30px;
}
