.LoginPage {
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.LoginPage-title {
  margin-top: 100px;
  font-size: 32px;
  letter-spacing: -1px;
  color: rgb(216, 98, 1);
  text-align: center;
}

.LoginPage-newUserLink {
  text-align: center;
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}

.LoginForm {
  background-color: white;
  display: flex;
  margin: 50px auto;
  max-width:400px;
  border: 1px solid antiquewhite;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.LoginForm-field {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.LoginForm-label {
  /*padding-top: 5px;*/
  font-size: 25px;
  color: rgb(104, 102, 101);
}

.LoginForm-input1 {
  margin-left: 81px;
  /*margin-top: 23px;*/
  height: 25px;
  border: 1px solid rgb(151, 150, 149);
  border-radius: 4px;
  background-color: white;
}

.LoginForm-input2 {
  margin-left: 34px;
  /*margin-top: 23px;*/
  height: 25px;
  border: 1px solid rgb(151, 150, 149);
  border-radius: 4px;
  background-color: white;
}

.LoginForm-submitButton {
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 50px;
  height: 50px;
  border: 1px solid rgb(216, 98, 1);
  border-radius: 10px;
  background-image: linear-gradient(rgb(216, 98, 1),rgb(212, 129, 46));
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.MainPage {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  position: relative;
}

.SideNavBar {
  width: 250px;
  height: 100%;
  padding: 30px 0px;
  position: fixed;
  background-image: linear-gradient(rgb(182, 177, 177),rgb(204, 199, 199));
  border: 1px solid whitesmoke;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.SideNavBar-header {
  color: white;
  font-size: 25px;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid whitesmoke;
}

.SideNavBar-item {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid whitesmoke;
}

.SideNavItem-link {
  font-size: 20px;
  color: rgb(104, 102, 101);
  display: block;
}

.SideNavBar-item:hover {
  font-size: 23px;
  text-transform: uppercase;
}

.MainPage-header {
  margin-left: 280px;
  border-bottom: 2px solid rgb(177, 174, 174);
  width: 100%;
}

.MainPage-headerAppName {
  font-size: 48px;
  color: rgb(216, 98, 1);
  letter-spacing: -1px;
}

.MainPage-headerWelcomeMessage {
  font-size: 36px;
  color: rgb(216, 98, 1);
  letter-spacing: -1px;
}

.MainPage-ownerMessage {
  font-size: 17px;
  font-style: italic;
  color: rgb(216, 98, 1);
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

.HomePage-message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 10;
  margin-top: 100px;
  margin-left: 280px;
  text-align: center;
  color: rgb(216, 98, 1);
  letter-spacing: 0.8px;
}
