/* styling for index.html.erb */

.MenuItemPage, .NewMenuItemPage, .ShowMenuItemPage, .EditMenuItemPage {
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.MenuItemPage-header, .MenuItemPage-selectMenus, .ShowMenuItemPage-mainDetails {
  display: flex;
}

.MenuItemPage-title1 {
  margin-top: 50px;
  font-size: 25px;
  color: rgb(77, 76, 75);
  text-align: center;
  margin-left: 200px;
}

.MenuItem-selectMenu {
  margin-top: 45px;
  margin-left: 250px;
}

.MenuItemPage-title2 {
  margin-top: 50px;
  font-size: 32px;
  letter-spacing: -1px;
  color: rgb(216, 98, 1);
  text-align: center;
  margin-left: 200px;
}

.MenuItemPage-addMenuItemLink {
  margin-top: 50px;
  margin-left: 380px;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}

/* styling for links */

.MenuItemPage-link {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}

/* styling for new.html.erb and edit.html.erb*/

.NewMenuItemPage-title, .EditMenuItemPage-title {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 32px;
  letter-spacing: -1px;
  color: rgb(216, 98, 1);
  text-align: center;
}

/* styling for new.html.erb and edit.html.erb*/

.NewMenuPage-title, .EditMenuPage-title {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 32px;
  letter-spacing: -1px;
  color: rgb(216, 98, 1);
  text-align: center;
}

/* styling for _display_menu.html.erb */

.ShowMenuItemPage-notice {
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  color: rgb(3, 87, 3);
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
}

.ShowMenuItem {
  margin-left: 20%;
  max-width: 700px;
  border: 1px solid antiquewhite;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.ShowMenuItemPage-menuItemName {
  margin-left: 50px;
  font-size: 25px;
  letter-spacing: -1px;
  color: rgb(216, 98, 1);
}

.ShowMenuItemPage-price {
  margin-left: 400px;
  font-size: 20px;
  color: rgb(77, 76, 75);
}

.ShowMenuItemPage-options {
  margin-left: 50px;
  font-size: 20px;
  color: rgb(77, 76, 75);
}

.ShowMenuItemPage-menuName {
  font-size: 26px;
  letter-spacing: -1px;
  color: rgb(216, 98, 1);
  margin-left: 50px;
}


/* styling for _form.html.erb */

.MenuItemForm-errorExplanation {
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  margin-bottom: 50px;
}

.MenuItemForm-errorMessage {
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  color: rgb(246, 18, 18);
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
}

.MenuItemForm {
  max-width: 500px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  border: 1px solid antiquewhite;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.MenuItemForm-field {
  margin: 20px 0 30px 50px;
  align-items: center;
  display: flex;
}

.MenuItemForm-label {
  font-size: 20px;
  color: rgb(104, 102, 101);
}

.MenuItemForm-input1 {
  margin-left: 30px;
  height: 25px;
  border: 1px solid rgb(202, 200, 198);
  border-radius: 4px;
  background-color: white;
}

.MenuItemForm-input2 {
  margin-left: 37px;
  height: 25px;
  border: 1px solid rgb(202, 200, 198);
  border-radius: 4px;
  background-color: white;
}

.MenuItemForm-submitButton {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 40%;
  height: 50px;
  border: 1px solid rgb(216, 98, 1);
  border-radius: 10px;
  background-image: linear-gradient(rgb(216, 98, 1),rgb(212, 129, 46));
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}
