/* styling for new.html.erb */

.NewOrderPage, .YourOrders, .EditOrder, .DisplayMenu {
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  text-align: center;
}

.NewOrderPage-title, .YourOrders-title {
  margin-top: 50px;
  font-size: 32px;
  letter-spacing: -1px;
  color: rgb(216, 98, 1);
  text-align: center;
  margin-bottom: 80px;
}

.NewOrderPage-message {
  margin-top: 50px;
  font-size: 25px;
  letter-spacing: -1px;
  color: rgb(77, 76, 75);
  text-align: center;
  margin-bottom: 50px;
}

/* styling for _display_menu.html.erb */

 .DisplayMenu {
  margin-top: 100px;
 }

  .DisplayMenu-table {
  width: 100%;
  height: 100px;
  margin-top: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  text-align: center;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
 }

  .DisplayMenu-details {
   align-items: center;
 }

 .DisplayMenu-itemName {
  font-size: 32px;
  letter-spacing: -1px;
  color: rgb(216, 98, 1);
  border: 1px solid transparent;
  padding: 50px;
  text-align: left;
 }

 .DisplayMenu-itemPrice {
  font-size: 25px;
  letter-spacing: -1px;
  color: rgb(77, 76, 75);
  border: 1px solid transparent;
  padding: 50px;
  text-align: left;
 }

 .NewOrderPage-submitButton {
  margin-top: 75px;
  align-items: center;
  text-align: center;
  height: 50px;
  border: 1px solid rgb(216, 98, 1);
  border-radius: 10px;
  background-image: linear-gradient(rgb(216, 98, 1),rgb(212, 129, 46));
  color: white;
  font-size: 20px;
}

/* styling for index.html.erb */

.YourOrders-table {
  height: 100px;
  margin-top: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
 }

.YourOrders-notice {
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  color: rgb(3, 87, 3);
  letter-spacing: 1px;
  text-align: center;
}

.YourOrders-title {
  margin-top: 100px;
  font-size: 32px;
  letter-spacing: -1px;
  color: rgb(216, 98, 1);
  margin-bottom: 80px;
  text-align: center;
}

.YourOrders-link {
  font-style: italic;
  font-size: 20px;
  color: rgb(77, 76, 75);
  padding-bottom: 50px;
  text-align: center;
}

.YourTable-tableHeader {
  background-color: rgb(216, 98, 1);
  opacity: 0.8;
  color: white;
}

.YourTable-headerValue {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

.YourTable-value {
  text-align: center;
  font-size: 20px;
  padding: 15px;
  color: rgb(77, 76, 75);
}


/* styling for _form.html.erb */

.OrderForm {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  border: 1px solid antiquewhite;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.OrderForm-title {
  font-size: 25px;
  letter-spacing: -1px;
  color: rgb(216, 98, 1);
  text-align: left;
  padding: 50px;
}

.Order-div {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 30px;
  margin-bottom: 50px;
}

.Order-radio {
  display: flex;
  align-items:center;
}

.Options {
  padding-left: 10px;
  padding-right: 20px;
  font-size: 20px;
  color: rgb(77, 76, 75);
}

.Order-submitButton {
  margin-top: 30px;
  margin-bottom: 50px;
  align-items: center;
  height: 50px;
  border: 1px solid rgb(216, 98, 1);
  border-radius: 10px;
  background-image: linear-gradient(rgb(216, 98, 1),rgb(212, 129, 46));
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.EditOrder-link {
  font-style: italic;
  font-size: 20px;
  color: rgb(77, 76, 75);
  padding-top: 30px;
}
