/* styling for report.html.erb */

.Report {
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  text-align: center;
}

.Report-notice {
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  color: rgb(194, 110, 15);
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 30px;
}

.Report-title {
  margin-top: 50px;
  font-size: 32px;
  letter-spacing: -1px;
  color: rgb(216, 98, 1);
  text-align: center;
  margin-bottom: 30px;
}

.Report-form {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  border: 1px solid antiquewhite;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.Report-duration {
  display: flex;
  padding: 50px;
  align-items: center;
  text-align: center;
}

.Report-label {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  color: rgb(77, 76, 75);
}

.Report-submitButton {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  align-items: center;
  height: 30px;
  border: 1px solid rgb(216, 98, 1);
  border-radius: 10px;
  background-image: linear-gradient(rgb(216, 98, 1),rgb(212, 129, 46));
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.Report-table {
  height: 50px;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.Report-tableHeader {
  background-color: rgb(216, 98, 1);
  opacity: 0.8;
  color: white;
}

.Report-headerValue {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

.Report-value {
  text-align: center;
  font-size: 20px;
  padding: 15px;
  color: rgb(77, 76, 75);
}

.Report-total {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  border: 1px solid antiquewhite;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.Report-totalValue {
  font-size: 25px;
  color: rgb(3, 87, 3);
  padding:20px;
}
